/.vs/
/bin/
/obj/
NoticeBoard/.vs/NoticeBoard/v16/.suo
NoticeBoard/.vs/NoticeBoard/v16/.suo
*.dll
*.pdb
*.cache
*.dll
*.ide
*.lock
*.v2
*.dll
*.pdb
*.cache
NoticeBoard/.vs/NoticeBoard/DesignTimeBuild/.dtbcache
*.testlog
*.manifest
DataAccessLayer\bin\
DataAccessLayer\obj\
