@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you want to find or lend/borrow or gift/give, get something then you may use our application. We will absolutely help you.</p>
    <p>For possibility to create advertisement you should register or log in if you have account already.</p>
</div>
