@*
*@
@{
    ViewData["Title"] = "Empty query";
}

<div class="container">
    <h1>There is no notices with this catagories.</h1>
    <button type="button" class="btn btn-outline-info button-read" onclick="location.href='@Url.Action("Index", "Notices", null)'">Go to main page</button>
</div>
